Repository BRAVO68WEB/readme, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, github-actions, github-meta, dependencies

bug-fix: uncontroller data to shell
  packages/pub-server/package.json
  yarn.lock
Labels: backend, dependencies

lint fixes
  .eslintrc.js
  .github/workflows/eslint.yaml
  package.json
  packages/pub-server/utils/actor-gen_key.ts
Labels: backend, github-actions, github-meta, dependencies

lint fixes
  .eslintrc.js
  .eslintrc.json
  packages/pub-server/.eslintrc.js
Labels: backend

lint fixes
  .github/workflows/eslint.yaml
Labels: github-actions, github-meta

...
  .github/workflows/eslint.yaml
Labels: github-actions, github-meta

list fixes
  packages/micro-app/app/dashboard/posts/create/page.tsx
  packages/micro-app/app/dashboard/posts/page.tsx
  packages/pub-server/config/fetch.ts
  packages/pub-server/controller/user.controller.ts
  packages/pub-server/providers/database-client.ts
  packages/pub-server/services/users.service.ts
  packages/pub-server/types/index.d.ts
  packages/pub-server/utils/actor-gen-key.ts
  tsconfig.json
Labels: backend, frontend

lint fixes
  .eslintrc.json
  packages/micro-app/.eslintrc.json
  packages/micro-app/app/dashboard/layout.tsx
  packages/micro-app/app/layout.tsx
  packages/micro-app/app/page.tsx
  packages/micro-app/tailwind.config.js
  packages/pub-server/services/users.service.ts
  tsconfig.json
Labels: backend, frontend

lint fixes
  packages/pub-server/index.ts
  packages/pub-server/routes/index.ts
  packages/pub-server/routes/user.routes.ts
  packages/pub-server/scripts/prepare.ts
  packages/pub-server/services/users.service.ts
Labels: backend

merge local
  packages/pub-server/controller/user.controller.ts
  packages/pub-server/services/users.service.ts
  packages/pub-server/utils/actor-fetch-key.ts
  packages/pub-server/utils/actor-gen-key.ts
Labels: backend

auth implementation
  packages/pub-server/controller/user.controller.ts
  packages/pub-server/package.json
  packages/pub-server/providers/database-client.ts
  packages/pub-server/routes/index.ts
  packages/pub-server/routes/user.routes.ts
  packages/pub-server/scripts/prepare.ts
  packages/pub-server/services/users.service.ts
  packages/pub-server/utils/read-server-keys.ts
  yarn.lock
Labels: backend, dependencies

add: Auth Mech + webfinger
  packages/pub-server/controller/user.controller.ts
  packages/pub-server/controller/webfinger.controller.ts
  packages/pub-server/index.ts
  packages/pub-server/package.json
  packages/pub-server/providers/database-client.ts
  packages/pub-server/routes/index.ts
  packages/pub-server/routes/meta.routes.ts
  packages/pub-server/routes/user.routes.ts
  packages/pub-server/scripts/prepare.ts
  packages/pub-server/services/auth.service.ts
  packages/pub-server/services/users.service.ts
  packages/pub-server/services/webfinger.service.ts
  packages/pub-server/utils/read-server-keys.ts
  yarn.lock
Labels: backend, dependencies

.github/labeler.yml:

backend:
- packages/pub-server/**/*

frontend:
- packages/micro-app/**/*

documentation:
- docs
- README.md

github-actions:
- .github/workflows/*

github-meta:
- .github/**/*

dependencies:
- package.json
- yarn.lock
- packages/*/package.json
