Repository BRAVO68WEB/readme, pull requests merged in 2023-07, with the labels that each got.

#4 Release
  .eslintrc.json
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/SECURITY.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/pr-badge.yml
  .github/workflows/auto-label.yaml
  .github/workflows/auto-tag-pr.yaml
  .github/workflows/build-api.yaml
  .github/workflows/build-dashboard.yaml
  .github/workflows/todo.yaml
  .github/workflows/welcome.yml
  README.md
  apps/client/.eslintrc.json
  apps/client/.gitignore
  apps/client/README.md
  apps/client/app/dashboard/layout.tsx
  apps/client/app/dashboard/page.tsx
  apps/client/app/dashboard/posts/create/page.tsx
  apps/client/app/dashboard/posts/page.tsx
  apps/client/app/dashboard/profile/page.tsx
  apps/client/app/dashboard/settings/page.tsx
  apps/client/app/favicon.ico
  apps/client/app/globals.css
  apps/client/app/layout.tsx
  apps/client/app/page.tsx
  apps/client/next.config.js
  apps/client/package.json
  apps/client/postcss.config.js
  apps/client/public/next.svg
  apps/client/public/vercel.svg
  apps/client/tailwind.config.js
  apps/client/tsconfig.json
  package.json
  packages/core/.env.example
  packages/core/.gitignore
  packages/core/config/fetch.ts
  packages/core/controller/user.controller.ts
  packages/core/data/.gitkeep
  packages/core/index.ts
  packages/core/keys/.gitkeep
  packages/core/package.json
  packages/core/providers/database-client.ts
  packages/core/routes/index.ts
  packages/core/routes/user.routes.ts
  packages/core/scripts/prepare.ts
  packages/core/services/users.service.ts
  packages/core/tsconfig.json
  packages/core/types/index.d.ts
  packages/core/uploads/.gitkeep
  packages/core/utils/actor-gen-key.ts
  packages/micro-app/.eslintrc.json
  packages/micro-app/tailwind.config.js
  tsconfig.json
  yarn.lock
Labels: Frontend, Backend

#21 patch: Rework Core Service 🔥
  .eslintignore
  .eslintrc.json
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/SECURITY.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/pr-badge.yml
  .github/workflows/auto-label.yaml
  .github/workflows/auto-tag-pr.yaml
  .github/workflows/build-api.yaml
  .github/workflows/build-dashboard.yaml
  .github/workflows/todo.yaml
  .github/workflows/welcome.yml
  .prettierrc
  README.md
  apps/client/app/dashboard/layout.tsx
  apps/client/app/dashboard/posts/create/page.tsx
  apps/client/app/dashboard/posts/page.tsx
  apps/client/app/layout.tsx
  apps/client/app/page.tsx
  apps/client/package.json
  apps/client/tailwind.config.js
  apps/client/tsconfig.json
  package.json
  packages/core/config/fetch.ts
  packages/core/controller/user.controller.ts
  packages/core/index.ts
  packages/core/package.json
  packages/core/providers/database-client.ts
  packages/core/routes/index.ts
  packages/core/routes/user.routes.ts
  packages/core/scripts/prepare.ts
  packages/core/services/auth.service.ts
  packages/core/services/users.service.ts
  packages/core/tsconfig.json
  packages/core/types/index.d.ts
  packages/core/utils/actor-fetch-key.ts
  packages/core/utils/actor-gen-key.ts
  packages/core/utils/read-server-keys.ts
  tsconfig.json
  yarn.lock
Labels: documentation, Frontend, Backend, dependencies, github-actions, github-meta

#28 feat: Completed with Posts API
  packages/core/controller/post.controller.ts
  packages/core/package.json
  packages/core/providers/database-client.ts
  packages/core/routes/index.ts
  packages/core/routes/post.routes.ts
  packages/core/services/post.service.ts
  packages/core/services/users.service.ts
  packages/core/utils/generate-snowflakeid.ts
  packages/core/utils/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Labels: Backend, dependencies

#29 feat: added password reset script
  packages/core/index.ts
  packages/core/package.json
  packages/core/providers/database-client.ts
  packages/core/scripts/reset-password.ts
  packages/core/services/users.service.ts
  pnpm-lock.yaml
Labels: Backend, dependencies

#30 Feat/UI
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/readme.iml
  .idea/vcs.xml
  apps/client/.eslintrc.json
  apps/client/.github/workflows/lint.yaml
  apps/client/.gitignore
  apps/client/README.md
  apps/client/app/dashboard/layout.tsx
  apps/client/app/dashboard/page.tsx
  apps/client/app/dashboard/posts/create/page.tsx
  apps/client/app/dashboard/posts/page.tsx
  apps/client/app/dashboard/profile/page.tsx
  apps/client/app/dashboard/settings/page.tsx
  apps/client/app/globals.css
  apps/client/app/layout.tsx
  apps/client/app/page.tsx
  apps/client/components/Posts/Post.tsx
  apps/client/components/Posts/index.tsx
  apps/client/components/ui/Button/index.tsx
  apps/client/components/ui/DashboardLayoutContainer/index.tsx
  apps/client/components/ui/Navbar/index.tsx
  apps/client/lib/utils.ts
  apps/client/next.config.js
  apps/client/package.json
  apps/client/postcss.config.js
  apps/client/public/thumbpin.png
  apps/client/tailwind.config.js
  apps/client/tsconfig.json
  apps/client/types/posts.d.ts
  apps/client/yarn.lock
  packages/core/controller/post.controller.ts
  packages/core/providers/database-client.ts
  packages/core/routes/index.ts
  packages/core/services/post.service.ts
  packages/core/utils/generate-snowflakeid.ts
  yarn.lock
Labels: Frontend, Backend, dependencies

#31 api: completed upload functionality
  .vscode/settings.json
  package.json
  packages/core/controller/upload.controller.ts
  packages/core/index.ts
  packages/core/package.json
  packages/core/routes/index.ts
  packages/core/routes/upload.routes.ts
  packages/core/scripts/reset-password.ts
  pnpm-lock.yaml
Labels: Backend, dependencies
